html,
body {
  background-color: #ffffff;
  margin: 0px;
  font-family: sans-serif;
}

button {
  background-color: #ffffff;
  border: 1px solid black;
  color: #000000;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}

.deletebutton {
  background-color: #ffefef;
}

.donebutton {
  background-color: #eaffec;
}

button:hover {
  background-color: #e4e4e4;
}

.statusbuttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ededed;
  width: 100vw;
}

.statusbutton {
  background-color: #ffffff;
  margin: 1em;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  height: 90vh;
  width: 70vw;
}

li {
  list-style: none;
  border: 1px solid black;
  width: 50vw;
  margin: 1em;
}

.active {
  flex: 5;
  text-decoration: none;
  margin: 1em;
}

.completed {
  flex: 5;
  text-decoration: line-through;
  color: #474747;
  margin: 1em;
}

.todo {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.todos {
  display: flex;
  flex-direction: row;
}

input {
  width: 70%;
  margin-left: 1em;
}
